// Bespoke Classes: https://github.com/markdalgleish/bespoke-classes
// Stylus: http://learnboost.github.io/stylus

@import url('https://fonts.googleapis.com/css?family=PT+Mono')
@import url('https://fonts.googleapis.com/css?family=Lato:300,400,400i,600,700');
@import url('https://fonts.googleapis.com/css?family=Permanent+Marker');
@import url('https://fonts.googleapis.com/css?family=Anton');

@import 'normalizecss/normalize.css'

$primary-color = #005EBF;
$quote-background-color = #005EBF;
$dammit-background-color = #E24C00;
$emphatic-background-color = #009665;
$text-color = #111;

* {
  box-sizing: border-box
  color: $text-color
  font-family: 'PT Mono', sans-serif
  font-size: 16px
}

h1, h2, h3, h4, h5, h6
  letter-spacing: -1px
  line-height: 1.3
  color: $text-color;
  font-weight: normal;
  margin-top: 0;

h1
  font-size: 2.85rem;
  margin-bottom: 1rem;

h2
  font-size: 2.15rem;
  margin-bottom: 1rem;
  font-weight: 400;

h3
  font-size: 1.45rem;
  margin-bottom: 1rem;

h4
  font-size: 1.2rem;
  margin-bottom: 1rem;

h1, h2, h3, h4, h5, h6
  word-spacing: 0.09em;

a:link,
a:visited {
  color: #0096dd
  text-decoration: none
}

a:hover,
a:focus,
a:active {
  color: $primary-color
  text-decoration: underline
}

.bespoke-parent
  text-size-adjust: auto
  position: absolute
  top: 0
  left: 0
  right: 0
  bottom: 0
  overflow: hidden

.bespoke-scale-parent
  position: absolute
  top: 0
  left: 0
  right: 0
  bottom: 0
  pointer-events: none
  .bespoke-active
    pointer-events: auto

.bespoke-slide
  width: 640px
  height: 480px
  position: absolute
  top: 50%
  left: 50%
  margin-left: -(@width / 2)
  margin-top: -(@height / 2)
  display: flex
  flex-direction: column
  justify-content: center
  align-items: center

.bespoke-inactive
  opacity: 0
  pointer-events: none

.bespoke-bullet-active
  opacity: 0.4
  .row &,
  .column &
    opacity: 1
  &.bespoke-bullet-current
    opacity: 1

.bespoke-bullet-inactive
  opacity: 0
  pointer-events: none

.bespoke-backdrop
  position: absolute
  top: 0
  left: 0
  right: 0
  bottom: 0
  z-index: -1
  opacity: 0

.bespoke-backdrop-active
  opacity: 1
  transition: opacity 0.3s

.bespoke-progress-parent
  position: absolute
  top: 0
  left: 0
  right: 0
  height: .3vw

.bespoke-progress-bar
  position: absolute
  height: 100%
  background: $primary-color
  transition: width .3s ease

.token.comment
  color: #cdff17
  .bespoke-bullet &,
  li &
    color: #cdff17

aside
  background: white
  border-left: 3px solid $primary-color
  display: none // Onlly display them when notes are enabled
  position: absolute
  left: 100%
  margin-left: 20px
  margin-right: 20px
  padding-left: 20px
  padding-right: 20px
  width: calc(100% - 40px)

  body.notes &
    display: block

  .bespoke-bullet-inactive
    opacity: 1

  *
    font-family: Lato, sans-serif
    font-size: 1.2rem

  hr
    background: #AAA
    border: none
    height: 1px

section
  max-height: 100vh
  max-width: 100vw

  > img
    max-height: 90%
    max-width: 90%

.centered
  text-align: center

.emphatic
  background: $emphatic-background-color

.emphatic-text
  padding: 0 10%
  h1, h2, h3, h4, h5, h6
    color: white
    font-family: 'Anton'
    letter-spacing: 1px
  h1
    font-size: 8em
  h2
    font-size: 5em
  h3
    font-size: 3em

.quote-bg
  background: $quote-background-color

.quote,
.subquote {
  color: white
  font-family: 'PT Mono', sans-serif
  font-size: 2rem
  padding: 0 10%
  text-align: right
  width: 100%
}

.subquote
  font-size: 1.4rem
  margin-top: 2em

.dammit-bg {
  background: $dammit-background-color
}

ul
  list-style-type: none
  padding-left: 0
  li
    margin-bottom: 10px;

ul.column
  height: 100%
  display: flex
  flex-direction: column
  justify-content: space-between

  li
    width: 100%
    height: 100%
    min-height: 0
    flex: 1 1 0

    &.double
      flex: 2 1 0
    &.triple
      flex: 3 1 0
    &.quadruple
      flex: 4 1 0
    &.quintuple
      flex: 5 1 0

    img
      max-width: 100%
      max-height: 100%

    ul
      height: 100%

ul.row
  max-height: 90%
  width: 100%
  display: flex
  flex-direction: row
  justify-content: space-between

  li
    flex: 1 1 0
    text-align: center
    margin-left: 1.5em;
    margin-right: 1.5em;

    img
      max-width: 100%
      max-height: 100%
